.notFound {
  grid-template-rows: 1fr auto;
  display: grid;
  color: white;
  font-family: 'Inter', 'Arial', 'Helvetica', sans-serif;
  min-height: 100vh;

  align-items: center;
  padding: 70px 0 0;
}

@media screen and (max-width: 768px) {
  .notFound {
    padding-top: 110px;
  }
}

@media screen and (max-width: 320px) {
  .notFound {
    padding-top: 165px;
  }
}

.notFound__info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  max-height: 444px;
  height: 100%;
}

.notFound__title {
  margin: 0;
  font-size: 80px;
  font-style: normal;
  font-weight: 400;
  text-align: center;
  padding-bottom: 10px;
}

@media screen and (min-width: 768px) {
  .notFound__title {
    font-size: 140px;
  }
}

.notFound__description {
  margin: 0;
  text-align: center;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .notFound__description {
    font-size: 16px;
  }
}

.notFound__link {
  margin: 30px;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  color: #4285f4;
  text-align: center;
  border: 0;
  border-radius: 0;
  background: none;
}

@media screen and (min-width: 768px) {
  .notFound__link {
    font-size: 14px;
    margin: 0;
  }
}
