.search-form {
  padding: 80px 10px 10px;
  position: relative;

  display: flex;
  flex-direction: column;
  gap: 45px;
}

@media screen and (min-width: 768px) {
  .search-form {
    padding: 80px 30px 10px;
    gap: 110px;
  }
}

@media screen and (min-width: 800px) {
  .search-form {
    padding: 70px 70px 10px;
  }
}

.search-form__container {
  border-radius: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 30px;

  border-radius: 9px;
  background: #2f2f2f;

  padding: 19px;
  position: relative;
}

@media screen and (max-width: 768px) {
  .search-form__container {
    gap: 19px;
  }
}

.search-form__container::before {
  content: '';
  background-image: url(../../images/iconsearch.svg);
  width: 34px;
  height: 34px;
  display: block;
  position: absolute;
}

@media screen and (max-width: 500px) {
  .search-form__container::before {
    display: none;
  }
}

.search-form__row {
  border-bottom: 1px solid #424242;
  width: 100%;
}

.search-form__input {
  border: none;
  background-color: transparent;
  box-sizing: border-box;
  outline: none;
  border-radius: 8px;
  flex: 1;

  height: 100%;
  padding: 0 0 0 44px;

  color: #8b8b8b;
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: 'Inter', 'Arial', 'Helvetica', sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 111.111% */

  transition: all 0.2s linear;
}

.search-form__input:focus {
  outline: 1px solid #424242;
}

@media screen and (max-width: 500px) {
  .search-form__input {
    max-width: 160px;
  }
}

@media screen and (max-width: 500px) {
  .search-form__input {
    padding-left: 0;
    font-size: 14px;
  }
}

.search-form__button {
  width: 80px;
  height: 34px;
  padding: 0;
  border-radius: 8px;
  background-color: transparent;
  background-image: url('../../images/find.svg');
  background-repeat: no-repeat;
  background-position: center;
  border: none;
}

.search-form__column {
  height: 100%;
  border-left: 1px solid #424242;
}

.search-form__checkbox-container_small {
  display: none;
}

@media screen and (max-width: 660px) {
  .search-form__column {
    display: none;
  }

  .search-form__checkbox-container_big {
    display: none;
  }

  .search-form__checkbox-container_small {
    display: block;
  }
}
  