.auth__form-register {
  font-family: 'Inter', 'Arial', 'Helvetica', sans-serif;
  color: white;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  width: 100%;
  max-width: 416px;
  box-sizing: border-box;
  padding: 0 10px;
  margin: auto;

  min-height: calc(100vh - 144px);
}

.auth__inputs {
  color: white;
}
